.menu-container {
    display: flex;
    height: 100px;
    position: relative; 
}

.menu-button {
position: relative;
width: 50px;
height: 50px;
background-color: #ccc;
cursor: pointer;
transition: background-color 0.3s ease;
}

.menu-button:hover {
background-color: #aaa;
}

.menu-button.open {
background-color: #ff0000;
}

.menu-icon {
display: flex;
justify-content: center;
align-items: center;
height: 100%;
}

.menu-content {
position: absolute;
top: 100%;
left: 0;
width: 200px;
background-color: #f1f1f1;
opacity: 0;
pointer-events: none;
transition: opacity 0.3s ease;
display: block; 
z-index: 1;
}

.menu-content.open {
opacity: 1;
pointer-events: auto;
}

.menu-content p {
margin: 0;
padding: 10px;
border-bottom: 1px solid #ccc;
}

.menu-content a {
color: #000;
text-decoration: none;
}

.menu-content a:hover {
text-decoration: underline;
}