@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

* {
  margin: 0;
  padding: 0;
}

div {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto;
  max-width: 1600px;
}

.header {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  background-color: rgb(141, 213, 227);
}

.unit {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
  background-color: rgb(141, 213, 227);
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin: 10px 0;

}

img {
  display: block;
  margin: 50px auto;
  max-width: 100px;
}

.img {
  display: flex;
  align-items: center;
  width: 50px;
  height: 10px;
  background-color: rgb(141, 213, 227);
}

.wrap {
  display: flex;
  color: #222;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}