div {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 20px;
  margin: 50px auto;
  max-width: 500px;
}

/* Стили для заголовка погоды */
h2 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

/* Стили для отдельных пунктов погоды */
p {
  font-size: 24px;
  line-height: 1.5;
  margin: 10px 0;
}

/* Стили для иконки погоды */
img {
  display: block;
  margin: 20px auto;
  max-width: 100px;
}