.weather {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 300px;
  margin: 0 auto;
}

.weather h2 {
  margin-top: 0;
}

.weather p {
  margin-bottom: 5px;
}

.weather img {
  width: 100px;
  height: 100px;
  margin-top: 10px;
}